.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.icons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.img {
    width: 100px;

    img {
        width: 100%;
        max-width: 100%;
    }
}
